label {
  font: var(--text-sm);
  color: var(--color-body);

  display: block;
  margin-bottom: .75rem;
}

fieldset {
  border: none;
}

.event .flex {
  gap: 1rem;
}

.input-wrapper {
  width: 100%;
}